.megaMenuContainer {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 95vw;
  max-width: 1345px;
  // min-height: 460px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
  margin-top: 15px;
  overflow: hidden;
}

.flexWrapper {
  display: flex;
  padding: 35px;
  // align-items: flex-start;
}

/* Sidebar (Left) */
.sidebar {
  flex: 0 0 284px;
  align-self: normal;
  background: #F7F6F5;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.sideTab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border: 1px solid transparent;
  background: none;
  border-radius: 8px;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  color: #1a1a1a;
  transition: all 0.4s;

  &.active {
    background: #fff;
    border-color: #eee;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #A6A3A0;
  }
}

/* Main Content Area */
.mainContent {
  flex: 1;
  padding-left: 35px;
}

.flexContentWrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.linksColumn, .linkColumn {
  display: flex;
  flex: 3;
  max-width: 665px;
  flex-direction: column;
  align-items: flex-start;
}

.linkColumn {
  background-color: #F7F6F5;
  border-radius: 12px;
  padding: 55px;
}

.topLinksRow {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.bottomLinksSection {
  margin-top: 10px;
  padding-top: 25px;
  border-top: 1px solid #E0DCD8;
  display: flex;
  width: 96%;

  .navCard {
    width: 100%;

    .cardInfo p {
      width: auto;
    }
  }
}

.navCard {
  cursor: pointer;
  width: calc(50% - 10px);
  display: flex;
  gap: 12px;
  padding: 9px;
  border-radius: 8px;
  background: #fff;
  transition: background 0.4s;
  align-items: center;

  &.featured {
    flex: 1 1 100%;
    background: #F7F6F5;

    .cardInfo p {
      width: 300px;
    }
  }

  &:hover {
    background: #F7F6F5;
  }
}

.iconBox {
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  background: #fff;
  border: 1px solid #D1CDCA;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardInfo {
  h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #222222;
  }

  p {
    margin: 4px 0 0;
    font-size: 14px;
    font-weight: 300;
    color: #969696;
    line-height: 1.2;
    max-width: 250px;
  }
}

/* Promo Column (Right) */
.promoColumn {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.imageBox {

  .img {
    border-radius: 12px;
    width: 100% !important;
    min-height: auto !important;
    height: auto !important;
  }
}

.blackBtn {
  background: #111;
  color: #fff;
  border: none;
  padding: 12px 16px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  &:hover{
    background: linear-gradient(0deg, #595959 0%, #595959 100%), #121212;
    color: #fff;
  }
}

.singleLinkView {
  align-self: flex-start;
  max-width: 500px;
  text-align: left;

  h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #1a1a1a;
  }

  p {
    font-size: 14px;
    color: #969696;
    line-height: 1.6;
    margin-bottom: 24px;
  }

  .textLinkBtn {
    background: none;
    border: none;
    color: #1a1a1a;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;

    span {
      transition: transform 0.3s ease;
    }

    &:hover span {
      transform: translateX(5px);
    }
  }
}