@import "tailwindcss";

/* Layout & Spacing */
@source inline("{gap,pt,pb,px,py,mt,mb}-{1,2,3,4,5,6,8,10,12,16,20,24}");

/* Specific Additions */
@source inline("gap-[40px]");
@source inline("pb-30");
@source inline("-mt-[100px]");

/* Typography */
@source inline("leading-{3,4,5,6,7,8,9,10,12}");
@source inline("text-{sm,base,lg,xl,2xl,3xl,4xl,5xl}");
@source inline("font-{thin,light,normal,medium,semibold,bold,extrabold}");

/* Sizing */
@source inline("{w,h}-{full,auto}");

/* Gradients */
@source inline("bg-[linear-gradient(180deg,#C76F96_0%,#B54275_10%,#522F42_100%)]");
@source inline("bg-[linear-gradient(180deg,rgba(180,211,235,0.61)_0%,rgba(247,246,245,0.79)_40%,#f4f1ec_65%,rgba(244,185,99,0.57)_100%)]");

@theme {
  --color-primary: #000000;
  --color-secondary: #B9194A;
  --color-accent: #ffffff;
  --color-grey-100: #312E2F;
  --color-grey-200: #6A6466;
}

@layer base {
  h1 {
    @apply text-4xl lg:text-5xl font-semibold;
  }

  h2 {
    @apply text-3xl lg:text-4xl font-semibold;
  }

  h3 {
    @apply text-2xl lg:text-3xl font-semibold;
  }

  h4 {
    @apply text-2xl font-medium;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  p {
    @apply text-base text-primary;
  }

  ul,
  ol {
    @apply text-lg;
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center cursor-pointer gap-2.5 px-5 py-4 text-base font-medium rounded-md bg-primary text-accent border border-transparent transition duration-200;
  }

  .btn-primary {
    @apply bg-primary text-accent border-black hover:bg-grey-100 focus:bg-grey-200;
  }

  .btn-secondary {
    @apply bg-transparent text-black border-black hover:border-grey-100 hover:text-grey-100 focus:text-grey-200 focus:border-grey-200;
  }

  .btn-link {
    @apply bg-transparent text-black border-0 hover:text-grey-100 focus:text-grey-200;
  }

  .btn-menu-link {
    @apply px-3 py-1.5 bg-transparent text-grey-200 border-0 hover:text-[#101010];
  }

  .btn-nav-link {
    @apply px-2.5 py-2 border-0 hover:bg-[#01010133];
  }
}



.heroGradient {
  background: linear-gradient(180deg, #C76F96 0%, #B54275 10%, #522F42 100%);
}

.gradientTwo {
  background: linear-gradient(180deg,
      rgba(180, 211, 235, 0.61) 0%,
      rgba(247, 246, 245, 0.79) 40%,
      #f4f1ec 65%,
      rgba(244, 185, 99, 0.57) 100%);
}

.gap40 {
  gap: 40px;
}