@use "tailwindcss";
@use "../styles/variables" as *;

:root {
    --primary-color: #{$color-primary};
    --secondary-color: #{$color-secondary};
    --background-color: #ffffff;
    --radius: #{$radius-md};
}

*,
*::before,
*::after {
    box-sizing: border-box;
    // margin: 0;
    // padding: 0;
}

html,
body {
    height: 100%;
}

/* Body Styling */
body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-heading;
    color: var(--text-color);
}